    /* Homepage */
    .homePage {
        background-color: black;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .intro {
        font-size: 1.5rem;
        color: white;
        padding-top: 30%;
        margin-left: 10%;
        -webkit-text-stroke-width: 1px;
        font-family: 'Questrial';
        text-align: left;
    }

    /* Nav */
    #toggle {
        display: block;
        position: fixed; 
        top: 20px; 
        left: 20px; 
        z-index: 999;
        width: 28px;
        height: 30px;
        margin: 30px auto 10px;
        cursor: pointer; 
        z-index: 999; 
    }

    #navbarSupportedContent {
        display: none; 
        position: fixed; 
        top: 70px;
        left: 20px;
        background-color: white;
        border-radius: 4px; 
        z-index: 998; 
        color: black;
    }

    .navbar-expand-lg .navbar-collapse.scrolled {
        border-bottom: white solid 1px !important;
    }
    
    /* Show the menu options when the toggle button is activated */
    #toggle.on + #navbarSupportedContent {
        display: block; 
    }

    #toggle span:after,
    #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #toggle span:after{
        top: 9px;
    }
    #toggle span {
        position: relative;
        display: block;
    }

    #toggle span,
    #toggle span:after,
    #toggle span:before {
        width: 100%;
        height: 5px;
        background-color: #888;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    #toggle.on span {
        background-color: transparent;
    }
    #toggle.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }
    #toggle.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    nav{
        padding-bottom: 120px;
    }
    .navbarScroll.navbarDark {
        background-color: black; 
        opacity: 1; 
        color: white; 
    }
    .navbarColor{
        color: black;
    }

    .navbar-toggler{
        background-color: black;
    }

    li.nav-item > a{
        text-decoration: none;
        padding:10px;
        font-size: 20px;
        color: black;
        font-family: 'Questrial';
        border: solid black 1px;
        margin: 0;
    }

    li.nav-item > a:hover,
    li.nav-item > a:focus {
        color: red;
        text-decoration: underline;
    }


    /* About Styling */
    .about {
        margin-top: 220px; 
        padding-top: 10px;
        padding-bottom: 100px; 
        color: white;
    }

    #about-text{
        font-size: 30px;
        padding-top: 5%; 
    }

    #about > div > div > div.col-lg-8 > p{
        padding-top: 100px;
    }
    h1{
        font-family: 'Questrial';
        position: relative;
        text-align: center;
        color: white;
    }
    .red-text {
        color: red;
    }
    h2{
        font-family: 'Questrial';
        grid-column: 2;
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
        position: relative;
        top: 0;
        margin-top: 20px;
        color: white;
    }
    h3{
        font-family: 'Questrial';
        font-size: 15px;
        color: white;
    }
    h4{
        font-family: 'Questrial';
        position: relative;
        border: solid 1px white;
        padding: 25px;
        font-size: 20px; 
        background-color: black;
        transition: background-color 0.6s ease;
        margin-bottom: 20px; 
        top: 0; 
        margin: 0px 25px 25px 25px;
    }
    h5{
        font-family: 'Questrial';
        padding: 0px;
        font-size: 20px; 
    }
    h6{
        font-family: 'Questrial';
        font-size: 20px;
        background-color: #474e2e;
        color: white;
        /* border: #d3c6af solid 5px; */
        position: relative;
        background-clip: padding-box;
        padding: 40px;
        margin: 5%;
        text-align: center;
        border-radius: 25px;
    }
    p{
        font-family: 'Questrial';
        font-size: 15px;
    }

    .timeline {
        width: 100%;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .timeline-content {
        box-shadow: 5px 5px 10px white;
        color: white;
        padding: 1.75rem;
        transition: 0.4s ease;
        overflow-wrap: break-word !important;
    }

    .timeline-component {
         margin: 0px 25px 25px 25px;
    }

    /* Projects Styling */
    #projects > div > h1{
        font-size: 30px;
        padding-top: 5%;
    }
      
    .container {
            width: 100% !important;
            padding: 0 !important;
            margin-right: auto;
            margin-left: auto;
    }
    
    .gradient-cards {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .container-title {
        text-align: center;
        padding: 0 !important;
        margin-bottom: 40px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        line-height: 60px;
    }
    
    .card {
        max-width: 800px;
        border: 0;
        width: 90%;
        margin-inline: auto;
        margin-bottom: 50px;
    }
    
    .container-card {
        position: relative;
        border: 2px solid transparent;
        background: linear-gradient(71deg, #080509, #1a171c, #080509);
        background-clip: padding-box;
        padding: 40px;
    }
    
    .card-title {
        font-weight: 600;
        color: white;
        letter-spacing: -0.02em;
        line-height: 40px;
        font-style: normal;
        font-size: 28px;
        padding-bottom: 8px;
    }
    .card-description {
        font-weight: 600;
        line-height: 32px;
        color: hsla(0, 0%, 100%, 0.5);
        font-size: 16px;
    }
    .tamarindHomePage{
        background-color: #312A17;
    }
    .tam,
    .mind{
        font-size: 4.5rem;
        color: white;
        padding-top: 20%;
        margin-bottom: 40%;
        -webkit-text-stroke-width: 1px;
        font-family: 'Questrial';
        text-align: center;
    }
    .tamarind-container,
    .fitbit-container{
        margin: 2%;
    }
    .tamarind-desc,
    .concept-card{
        text-align: center;
        color: #D5C89F;
    }
    #problem > div > div > img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;

    }
    .tamarind-card {
        position: relative;
        border: 2px solid transparent;
        background: #D5C89F;
        background-clip: padding-box;
        padding: 40px;
        margin: 5%;
    }
    .t-card-title{
        color: #312A17;
        font-size: 180%;
    }
      
    .fitbitHomePage{
        background-color: #c1e6f4;
    }
    .fitbit-container{
        margin-top: 30%;
        color: rgb(2, 6, 36);
    }
    #fitbit > div > div > div > h1{
        color: #225186;
    }
    .fitbit-des,
    .fitbit-header{
        text-align: center;
        color: #225186;
        font-family: 'Questrial';
        padding: 0px;
        font-size: 20px;
    }
    #problem > div > div > p:nth-child(2),
    #problem > div > div > p:nth-child(4){
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .fitbit-concept-card{
        text-align: center;
        color: #225186;
    }
    .fitbit-card {
        position: relative;
        border: 2px solid transparent;
        background: #225186;
        background-clip: padding-box;
        padding: 40px;
        margin: 5%;
        color: white   ;
    }
    .fitbit-t-card-title{
        color: white;
        font-size: 180%;
    }
    .fitbit-info,
    .fitbit-insights {
        background: rgb(117, 194, 245);
        font-family: 'Questrial';
        font-size: 20px;
        color: #225186;
        border: #225186 solid 5px;
        position: relative;
        background-clip: padding-box;
        padding: 40px;
        margin: 5%;
        border-radius: 25px;
        font-size: 90%;
        text-align: center;
    }
    .fitbit-insights {
        background: white;
        color: #ce740e;
        border: #f69526 solid 5px;
    }
    .fitbit-insights ul,
    .fitbit-insights {
        line-height: 1.5; 
        list-style-type: none;

    }
    #problem > div > div > p:nth-child(2),
    #problem > div > div > p:nth-child(4){
        text-align: center;
        font-family: 'Questrial';
        padding: 0px;
        font-size: 20px;
    }

    @media screen and (min-width: 992px) {
        .about {
            margin-top: 320px; 
        }
        
        #projects > div > h1 {
            padding-top: 10%; 
        }
        #toggle {
            display: none; 
        }
        #navbarSupportedContent {
            display: block; 
            position: fixed; 
            top: 0;
            left: 0;
            right: 0;
            background-color: black; 
            padding: 5px; 
            border-radius: 0; 
            z-index: 998; 
            color: white; 

        }
        .navbar-scroll.navbar-dark.border-scroll {
            border-bottom: white solid 1px !important;
            background-color: red;
        }
        #navdark {
            background-color: black !important; 
            border: solid 1px white !important; 
        }

        li.nav-item > a{
            color: white;
        }
        .about {
            margin-top: 220px;
            padding-top: 10px;
            padding-bottom: 100px; 
            color: white;
        }
        .intro {
            font-size: 2.5rem;
            color: white;
            padding-top: 20%;
            margin-left: 10%;
            width: 50%;
            -webkit-text-stroke-width: 1px;
            font-family: 'Questrial';
            text-align: left;
        }
    
        #about-text{
            font-size: 20px;
            padding-top: 5%; 
        }
        h2{
            top:0;
            grid-row: 1;
        }
        h4{
            position: relative;
            top:100px;
            grid-row: 2;
            height: fit-content;
        }
        .g-container{
            display: grid;
            grid-template-columns: 25% 75%;
            max-height: 600px;
        }
        .timeline {
            grid-column: 2;
            display: grid;
            grid-template-columns: 1fr 3px 1fr;
            height: 10%;
        }
        .tcontainer{
            grid-column: 2;
            overflow: scroll;
            border: solid 1px white;
            margin-left: 50px;
            max-height: 30%;
            grid-row: 2;
        }
        .timeline-box {
            position: relative;
            background-image: linear-gradient(45deg, #b62020, #fe2e2e, #fe8181, white);
            width: 3px;
            height: 100%;
        }
        .timeline-content {
            box-shadow: 5px 5px 10px white, -5px -5px 10px white;
        }
        .main-box {
            opacity: 0;
        }
        .timeline-circle {
            position: absolute;
            top: 0;
            left: 50%;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-image: linear-gradient(45deg, #b62020, #fe2e2e, #fe8181, white);
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
        }
        .timeline-component:hover {
            background-color: #222222;
        }
        h4:hover{
            background-color: red;
        }
        #projects > div > h1 {
            padding-top: 10%; 
        }
        .tam,
        .mind{
            margin-top: 0px;
            margin-bottom: 10%;
        }
        .fitbit-info,
        .fitbit-insights {
            font-size: 100%;
        }
        .timeline-component{
            margin: 0px 25px 25px 25px;
        }
        .tamarind-container,
        .fitbit-container {
            margin: 15%;
        }
    }